.node {
  width: 360px;
  height: 640px;
  border-radius: 20px;
  font-size: 12px;
  color: #222;
  text-align: center;
  background-color: white;
  cursor: move;
  transition: all 0.3s ease-in-out;
}

.selected {
  background-color: #f0f8ff;
  box-shadow: 0 0 0 8px #000000, 0 20px 50px rgba(0, 0, 0, 0.3);
  transform: scale(1.15);
  pointer-events: auto;
}

.selected::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}